<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="MyMessenger" transaction-type="RESOURCE_LOCAL">

        <class>com.company.messenger.entity.MyUser</class>
        <class>com.company.messenger.entity.Message</class>
    </persistence-unit>
</persistence>
